[submodule "public"]
	path = public
	url = git@github.com:yoichitgy/yoichitgy.github.io.git
[submodule "themes/angels-ladder"]
	path = themes/angels-ladder
	url = git@github.com:yoichitgy/angels-ladder.git
